.single-dar i.route-icon {
  float: none;
  display: inline-block;
  vertical-align: middle; }

#dar-info-container div {
  padding: 15px;
  border-bottom: 1px #e6ddce solid; }

#route-page-connections ul {
  list-style: initial;
  margin: initial;
  padding: 0 0 0 40px; }
#route-page-connections li {
  display: list-item; }

#route-page-connections h2 {
  margin-top: .375em; }

/*Dial - A - Ride */

#dar-info .fare-header a {
  color: #337ab7;
  font-size: 16px; 
  text-decoration: underline;
}


.page-template-page-dar #route-map {
  margin-bottom: 0;
}
#dar-info-container {
  padding: 0;
}
#dar-map {
  height: 450px;
  width: 100%;

}


  .single-dial-a-ride #single-route-fares th {
  padding-left: 25px;
}