@charset "UTF-8";

#route-page-title,.route-title  {
  position: relative; 
  width: 85%; 
}
.route-circle {
  position: relative;
  margin-right: 5px;
  font-style: normal;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  padding: 0 2px;
  border-radius: 1.5em;
  height: 2.2em;
  min-width: 2.2em;
  font-size: .85em;
  line-height: 2.2em;
}

#single-route-fares th {
  padding-left: 26px !important;
  padding-top: 10px;
}

.single-route .route-map {
  height: 70vh;
  min-height: 500px;
  max-height: 100%;
  margin-bottom: 0;
}


#route-locations-served {
  font-size: 24px;
  padding: 20px; }



.route-info-box {
  border-bottom: 10px #e6ddce solid; }
  .route-info-box h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    background: #e6ddce;
    padding: 10px;
    padding-left: 19px; }
    .route-info-box h2 span {
      font-size: 12px;
      float: right;
      margin-right: 40px; }
  .route-info-box ul {
    padding: 0;
    margin: 0; }
    .route-info-box ul li {
      width: 50%;
      border-bottom: 1px solid #c8b29a;
      float: left;
      padding: 25px;
      text-align: center; 
    }
      .route-info-box ul li i {
        background-image: url(../images/kern-sprites.png);
        width: 23px;
        height: 23px;
        background-position: -240px -40px;
        display: inline-block;
        margin-right: 8px;
        position: relative;
        top: 6px; }
    .route-info-box ul li:hover {
      background: #ddf3ff;
      cursor: pointer; }
  .route-info-box #schedule-links {
    padding: 0; }
  .route-info-box a:link, .route-info-box a:active, .route-info-box a:visited {
    color: black;
    text-decoration: underline; }
  .route-info-box #route-fares-link {
    padding: 20px;
    float: right; }

    /*Timetables*/

    #timetable-nav {
        overflow: hidden; 
        display: flex; 
        justify-content: center; 
        margin-top: 20px;
    }

    #timetable-nav input[aria-selected="true"] + label, #timetable-nav input:checked + label {
      background: #0072bc !important;
      color: white;
  }
    #timetable-nav legend {
		border-bottom: none !important;
	}


  #timetable-nav label {
    padding: 5px 10px !important;
    font-size: 1.5rem !important;
  }

  .timetable-page {
    margin-left: 15px;
    margin-right: 15px;
  }
.timetable {
  margin: 2em 4em !important;
}
  .timetable .row {
    margin: 0 !important;
    margin: 0 !important;
  }

  .city-row {
    color: #0072bc;
  }

  .single-route .table-container {
    /*display: flex;
    justify-content: center;*/
  }
  

#timetable-detail-maps h2 {
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  background: #e6ddce;
  padding: 5px 0 0 0;
  padding-left: 19px; 
  padding-bottom: 5px;
}
  #timetable-detail-maps h2 span {
    float: left; }
  #timetable-detail-maps h2 span.span-small-title {
    font-size: 12px;
    margin: 0;
    padding-bottom: 10px;
    margin-left: 15px; }



#route_days_of_week {
  font-size: 14px;
  padding: 2px 0 0 15px;
  margin: 0;
  border-left: grey 1px solid;
  margin-left: 13px; }


/*Alerts*/
.map-alerts-wrap i {
  background-image: url(../images/kern-sprites.png);
  width: 30px;
  height: 25px;
  float: left;
  background-position: -187px -8px;
  margin-right: 4px;
  position: relative;
  top: 9px;
}
#route-alerts {
  color: black;
  background: #f9f3b9;
  margin-bottom: 20px; 
}

.tcp_alerts .container {
  padding-right: 15px;
  padding-left: 15px;
  width: auto;
}


.tcp_alerts .panel_description {
  max-width: 970px !important;
}

.tcp_alerts .container .panel_heading:before {
  content: url(../images/alert_icon.svg);
  margin-top: 5px;
}

.tcp_alerts .tcp_panel {
  display: flex;
  flex-direction: column;
}

.tcp_alerts .panel_heading {
  display: inherit;
}

.panel_body {
  padding-left: 10px;
  font-size: 16px;
}
.panel_description {
  margin-bottom: 5px;
    margin-top: 5px;
}

  #route-alerts h3 {
    margin: 0; 
  }


@media (max-width: 700px) {

  .header-container {
    display: block !important;
  }
  #route-page-title, .route-title {
    font-size: 2em; 
    } 
    #route-locations-served {
      font-size: 18px !important;
    }
    .route-map {
      height: 500px !important;
    }
    .route-info-box h2 {
      font-size: 1.75em !important;
  }
  .route-info-box h2 span {
    float: none !important; 
    display: block;
    margin-top: 10px;
  }
}
  
  .page-template-template-routes-and-schedules .route-select-container {
    width: 100%;
  }

  .single-route .route-select-container, .page-template-template-routes-and-schedules .route-select-container {
    margin-top: 10px;
   
  }
.route-select-container {
  width: auto;
  margin-top: 20px; 
}

  .route-select-container select {
    display: inline-block;
  }

#generic-wide-container {
  clear: both; }

  .single-route table {
    width: 95%;
  }

.single-route table, .single-route caption {
  background: white; }


.route-info-box.timetables {
  text-align: center; }

  .route-info-box {
    font-size: 15px;
  }

.route-info-box ul#internal-connections li {
  float: none;
  width: 100%;
  text-align: left; 
 
}
  .route-info-box ul#internal-connections li i {
    top: -7px; }
    
    .route-info-box ul#external-connections li {
      float: none;
      width: 100%;
      text-align: left; 
     
    }
    .route-info-box ul#external-connections li i {
        top: -7px; 
      }

    #external-connections a {
      font-weight: bold;
    }
        

ul#route-anchors {
  margin: 10px 0px 10px 10px;
  clear: both; }
  ul#route-anchors li {
    float: left;
    margin: 0 10px; 
    padding: 8px;
  }

  #route-anchors a {
    color: #ffffff !important;
  }

