.mapWidth735 {
#sml-map-background {
background-image: url("../images/sml_map/basemap_735_out.jpg");
}

#map_0 {
display: none;}


#map-hovers._250-california-city-lancaster { 
background-image: url("../images/sml_map/250-california-city-lancaster_scale_735_out.jpg"); 
background-repeat: no-repeat;
background-position: 546px 383px;
 } 

#map-hovers._240-boron-mojave { 
background-image: url("../images/sml_map/240-boron-mojave_scale_735_out.jpg"); 
background-repeat: no-repeat;
background-position: 557px 411px;
 } 

#map-hovers._230-mojave-ridgecrest { 
background-image: url("../images/sml_map/230-mojave-ridgecrest_scale_735_out.jpg"); 
background-repeat: no-repeat;
background-position: 559px 174px;
 } 

#map-hovers._100-bakersfield-lancaster { 
background-image: url("../images/sml_map/100-bakersfield-lancaster_scale_735_out.jpg"); 
background-repeat: no-repeat;
background-position: 311px 294px;
 } 

#map-hovers._150-lake-isabella-bakersfield { 
background-image: url("../images/sml_map/150-lake-isabella-bakersfield_scale_735_out.jpg"); 
background-repeat: no-repeat;
background-position: 303px 190px;
 } 

#map-hovers._225-lake-isabella-onyx { 
background-image: url("../images/sml_map/225-lake-isabella-onyx_scale_735_out.jpg"); 
background-repeat: no-repeat;
background-position: 457px 166px;
 } 

#map-hovers._223-lake-isabella-bodfish { 
background-image: url("../images/sml_map/223-lake-isabella-bodfish_scale_735_out.jpg"); 
background-repeat: no-repeat;
background-position: 448px 191px;
 } 

#map-hovers._220-lake-isabella-kernville { 
background-image: url("../images/sml_map/220-lake-isabella-kernville_scale_735_out.jpg"); 
background-repeat: no-repeat;
background-position: 443px 131px;
 } 

#map-hovers._227-lake-isabella-ridgecrest { 
background-image: url("../images/sml_map/227-lake-isabella-ridgecrest_scale_735_out.jpg"); 
background-repeat: no-repeat;
background-position: 448px 137px;
 } 

#map-hovers._140-lamont-bakersfield-north { 
background-image: url("../images/sml_map/140-lamont-bakersfield-north_scale_735_out.jpg"); 
background-repeat: no-repeat;
background-position: 303px 290px;
 } 

#map-hovers._145-lamont-bakersfield-south { 
background-image: url("../images/sml_map/145-lamont-bakersfield-south_scale_735_out.jpg"); 
background-repeat: no-repeat;
background-position: 264px 303px;
 } 

#map-hovers._120-taft-bakersfield { 
background-image: url("../images/sml_map/120-taft-bakersfield_scale_735_out.jpg"); 
background-repeat: no-repeat;
background-position: 129px 289px;
 } 

#map-hovers._210-frazier-park-local { 
background-image: url("../images/sml_map/210-frazier-park-local_scale_735_out.jpg"); 
background-repeat: no-repeat;
background-position: 216px 499px;
 } 

#map-hovers._130-frazier-park-bakersfield { 
background-image: url("../images/sml_map/130-frazier-park-bakersfield_scale_735_out.jpg"); 
background-repeat: no-repeat;
background-position: 268px 301px;
 } 

#map-hovers._92-GET { 
background-image: url("../images/sml_map/92-GET_scale_735_out.jpg"); 
background-repeat: no-repeat;
background-position: 271px 301px;
 } 

#map-hovers._110-delano-bakersfield { 
background-image: url("../images/sml_map/110-delano-bakersfield_scale_735_out.jpg"); 
background-repeat: no-repeat;
background-position: 182px 144px;
 } 

#map-hovers._115-lost-hills-bakersfield { 
background-image: url("../images/sml_map/115-lost-hills-bakersfield_scale_735_out.jpg"); 
background-repeat: no-repeat;
background-position: 64px 207px;
 } 

#map-hovers.dial-a-ride { 
background-image: url("../images/sml_map/dial-a-ride_scale_735_out.jpg"); 
background-repeat: no-repeat;
background-position: 402.0px 255px;
 } 
} 

